:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: #2a385c;
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0% /* down */, hsl(215, 19%, 24%) /* up */ 100%);
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}

.layout__wrapper {
  background-image: linear-gradient(0deg, hsl(215, 14%, 16%) 0%, hsl(215, 19%, 29%) 100%);
  border-radius: 3px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, .25);
  margin: 3rem auto;
  max-width: 370px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.header {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.store-container {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 247, 255);
}

.items-container {
  text-align: center;
}

.item-container {
  padding: 5px;
  border-bottom: 1px solid grey
}